.buildpath
.project
.settings
.htaccess
application/cache/*
application/config/*
application/logs/*
uploads/spot/thumb/*
uploads/spot/origin/*
uploads/spot/middle/*
uploads/tmp/*
uploads/spot/*
uploads/tabelog/*
