@charset "utf-8";


/* ==================================================================

	■LOGIN
	
=================================================================== */

body{
	background-color:transparent !important;
}

.box{
	background:url(../../img/login/box.png) no-repeat;
	width:371px;
	height:275px;
	float:left;
	text-align:left;
	position:relative;
	margin-left:10px;
}
.box .title{
	text-align:center;
	padding-top:15px;
}
.box input.text{
	width:190px;
	margin:0;
	padding:0;
}

.box dl dt{
	clear:both;
	float:left;
	text-align:right;
	width:140px;
	padding-top:14px;
}
.box dl dd{
	font-size:13px;
	float:left;
	padding-top:10px;
	padding-left:10px;
	text-align:left;
}
.box .submit{
	position:absolute;
	bottom:5px;
	right:20px;
}
.box .namehidden{
	font-size:11px;
	margin-right:10px;
}

#login_box .facebook{
	text-align:center;
	padding-top:5px;
	margin-bottom:20px;
}
#login_box dl{
	border-top:1px solid #999;
	margin-left:9px;
	margin-right:9px;
	padding-top:15px;
	padding-left:30px;
}
#login_box dl dt{
	width:70px;
	text-align:left;
}
#login_box dl dd{
}
#regist_box input.namehidden{
	padding:0;
	margin:0;
}
#regist_box .sub{
	clear:both;
	margin-left:150px;
}
