@charset "utf-8";


/* ==================================================================

	■spot entry
	
=================================================================== */

#breadcrumbs{
	margin-bottom:15px;
}

/* map_area
------------------------------------------*/
#map_area{
	float:left;
	width:481px;
	background-color:#FFF;
	border:1px solid #a6a6a6;
	margin-bottom:120px;
	margin-top:5px;
}
#map_area #map{
	width:473px;
	height:420px;
	margin-left:4px;
	margin-bottom:4px;
}
#map_area #mapsearch{
	background-color:#f0f0f0;
	margin:0;
	padding-top:10px;
	padding-bottom:10px;
}
#map_area #mapsearch .text{
	margin-left:15px;
	width:350px;
	vertical-align:top;
}
#map_area #mapsearch .btn{
	margin-left:8px;
}


/* input_area
------------------------------------------*/

#input_area{
	float:right;
	background:url(../../img/user/spot/bg.gif) no-repeat 0 bottom;
	width:510px;
	margin-right:-7px;
}
#input_area form{
	margin-left:29px;
	margin-right:35px;
	padding-top:10px;
}
#input_area input.text,
#input_area textarea {
	width:371px;
}

#input_area .tagit {
	width:364px;
}

#input_area dl{
	clear:both;
	margin-bottom:18px;
}
#input_area dl dt{
	float:left;
	padding-top:5px;
}
#input_area dl dd{
	float:left;
	padding-left:15px;
}
#input_area .latlng ul li{
	display:inline;
}
#input_area .latlng input.text{
	width:147px;
	margin-right:8px;
	margin-left:5px;
}

#input_area .category{
	width:285px;
	float:left;
	position:relative;
}
#input_area .category dd{
	position:relative;
}
#input_area .category .categories li{
	padding-left:30px;
	padding-bottom:12px;
	margin-bottom:12px;
	border-bottom:1px dotted #333333;
	width:164px;
}
#input_area .category .categories .category1{
	background:url(../../img/user/spot/category1.gif) 0 2px no-repeat;
}
#input_area .category .categories .category2{
	background:url(../../img/user/spot/category2.gif) 0 2px no-repeat;
}
#input_area .category .categories .category3{
	background:url(../../img/user/spot/category3.gif) 0 2px no-repeat;
	border-bottom:none;
}
#input_area .category .categories li a{
	width:160px;
}

#input_area .categoryselect{
	left:210px;
	z-index:10;
}

#input_area .pic{
/*	clear:none; 
	float:right; */
	margin-bottom:25px;
	/*width:240px;*/
}
#input_area .pic dt{
	float:none;
}
#input_area .pic dd{
	margin:0;
	padding:0;
}
#input_area .pic input{
}


#input_area .submit{
	/*
	float:right;
	*/
}




/* clearfix */
#input_area dl:after{
	content:".";
	height:0;
	clear:both;
	display:block;
	visibility:hidden;
	line-height:0;
	font-size:0;
}
#input_area dl{
	zoom:1;
}

.pg_around_number {
	font-size: large;
	color: #ff0000;
}