@charset "utf-8";


/* ==================================================================

	■TOUR
	
=================================================================== */

/* map_area
------------------------------------------*/
#map_area{
	float:left;
	width:438px;
	background-color:#FFF;
	border:1px solid #a6a6a6;
}
#map_area #map{
	width:430px;
	height:430px;
	margin-left:4px;
	margin-top:4px;
	margin-bottom:4px;
}


/* detail_area
-------------------------------------------*/
#detail_area{
	float:right;
	border:1px solid #a6a6a6;
	border-radius:10px;
	width:540px;
	padding-top:15px;
	margin-bottom:30px;
}
#detail_area .photo{
	float:left;
	width:265px;
	height:200px;
	overflow:hidden;
	margin-left:15px;
	margin-bottom:0;
	
}
#detail_area .info{
	float:left;
	width:230px;
	margin-left:15px;
	font-size:11px;
}
#detail_area h2{
	background:url(../../img/common/icon/tour_s.gif) no-repeat;
	padding-left:28px;
	padding-top:3px;
	font-size:14px;
	margin-bottom:20px;
}
#detail_area .info dl{
	clear:both;
	padding-top:5px;
}
#detail_area .info dl dt{
	float:left;
}
#detail_area .info dl dd{
	margin-left:70px;
}
#detail_area .info ul li{
	float:left;
	margin-right:10px;
}

#detail_area .comment{
	padding-top:15px;
	clear:both;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:20px;
	font-size:11px;
}

#detail_area .fb-like{
	float:left;
	margin-left:15px;
	overflow:hidden;
	height:20px;
	width:300px;
}

#detail_area .edit{
	float:right;
	margin-right:15px;
}
#detail_area .edit a{
	padding-left:5px;
	padding-right:5px;
}



/* route_area
----------------------------------*/
#route_area{
	float:right;
	width:540px;
	margin-bottom:30px;
}
#route_area h3{
	background:#83ace1 url(../../img/tour/route_bg.gif) repeat-x;
	border-radius:2px;
	float:left;
	padding:8px;
	color:#FFF;
	text-shadow:1px 1px 1px rgba(0,0,0,0.5);
	margin-bottom:10px;
	position:relative;
}
#route_area h3 span{
	background:url(../../img/tour/route_arrow.gif) no-repeat 0 bottom;
	width:10px;
	height:7px;
	position:absolute;
	bottom:-7px;
	left:18px;
}
#route_area h3 img{
	margin-top:2px;
	margin-left:10px;
}

#route_area .copy{
	clear:both;
	float:right;
}
#route_area .copy a{
	padding-left:5px;
	padding-right:5px;
}


#route_area .routes{
	clear:both;
	margin-bottom:20px;
}

#route_area .routes .item{
	border:1px solid #d7d7d7;
	border-radius:6px;
	clear:both;
	position:relative;
	margin-bottom:10px;
}
#route_area .item .time{
	background:url(../../img/tour/time.gif) no-repeat;
	padding-left:13px;
	font-size:11px;
	line-height:1;
	color:#618dc7;
	font-weight:bold;
	position:absolute;
	top:10px;
	left:5px;
	height:100%;
}
#route_area .item .time .line{
	background-color:#91b5e5;
	position:absolute;
	width:2px;
	height:98%;
	left:4px;
	top:12px;
}
#route_area .item .photo_area{
	float:left;
	margin-left:60px;
	padding-top:10px;
	width:98px;
}
#route_area .item .photo_area .photo{
	width:98px;
	height:74px;
}

#route_area .item .info_area{
	float:left;
	margin-top:10px;
	margin-left:10px;
	padding-bottom:5px;
	width:360px;
}
#route_area .item .info_area dl{
	clear:both;
}
#route_area .item .info_area dt{
	float:left;
	padding-top:2px;
}
#route_area .item .info_area dd{
	margin-left:63px;
	font-size:11px;
}
#route_area .item .info_area .name dd{
	font-size:13px;
	font-weight:bold;
}
#route_area .item .info_area .memo{
	margin-bottom:5px;
}
#route_area .item .info_area .memo dt{
	float:none;
}
#route_area .item .info_area .memo dd{
	margin-left:0;
}


#route_area .item .info_area .linkbtn{
	float:right;
	margin:0;
	clear:both;
	height:23px;
}
#route_area .item .info_area .linkbtn a{
	padding:1px 10px;
}


#route_area .item .subinfo{
	float:right;
	background-color:#f0f0f0;
	border-radius:2px;
	width:86px;
	font-size:11px;
	margin-top:3px;
	margin-right:3px;
}
#route_area .item .subinfo p{
	margin-left:10px;
}
#route_area .item .subinfo .staytime{
	padding-top:20px;
	margin-bottom:20px;
}
#route_area .item .subinfo .staytime span{
	text-align:right;
	display:block;
	margin-right:5px;
}

#route_area .memo dl{
	position:relative;
	margin-left:60px;
	padding-top:10px;
	padding-bottom:10px;
}
#route_area .memo dl dt{
	float:left;
	width:98px;
	padding-top:5px;
}
#route_area .memo dl dd{
	float:left;
	margin-left:10px;
	width:360px;
}


/* search_box */
.search_box{
	margin-bottom:30px;
}

/* clearfix */
#route_area .item:after,
#route_area .memo dl:after{
	content:".";
	height:0;
	clear:both;
	display:block;
	visibility:hidden;
	line-height:0;
	font-size:0;
}
#route_area .item,
#route_area .memo dl{
	zoom:1;
}