@charset "utf-8";


/* ==================================================================

	■spot entry
	
=================================================================== */
#breadcrumbs{
	margin-bottom:15px;
}

.howto{
	position:absolute;
	right:10px;
	top:3px;
}

#basic_area,
#spot_search,
#tour_make{
	margin-bottom:50px;
}
#spot_search,
#tour_make{
	margin-top:4px;
}
#input_area .category .categoryselect,
#spot_search .category .categoryselect{
	z-index:10;
}

#joint{
	position:absolute;
	top:103px;
	left:665px;
}
#joint span{
	display:block;
	float:left;
	width:20px;
	height:143px;
}
#joint .left{
	border-bottom:1px solid #ff9600;
}
#joint .right{
	border-top:1px solid #ff9600;
	border-left:1px solid #ff9600;
}

/* basic_area
------------------------------------------*/
#basic_area{
	float:left;
}


/* input_area
------------------------------------------*/

#input_area{
	background:url(../../img/user/tour/input_bg.gif) no-repeat 0 bottom;
	width:389px;
	margin-left:-7px;
	margin-bottom:20px;
}
#input_area form{
	margin-left:29px;
	margin-right:35px;
	padding-top:10px;
}
#input_area input.text{
	width:248px;
}
#input_area dl{
	clear:both;
	margin-bottom:12px;
}
#input_area dl dt{
	float:left;
	padding-top:5px;
}
#input_area dl dd{
	position:relative;
	float:left;
	padding-left:15px;
}
#input_area .latlng ul li{
	display:inline;
}
#input_area .latlng input.text{
	width:100px;
	margin-right:30px;
	margin-left:5px;
}

#input_area .category{
	position:relative;
	margin-bottom:0;
}
#input_area .category .categories li{
	padding-left:30px;
	padding-bottom:12px;
	margin-bottom:12px;
	border-bottom:1px dotted #333333;
	width:100%;
}
#input_area .category .categories .category1{
	background:url(../../img/user/spot/category1.gif) 0 2px no-repeat;
}
#input_area .category .categories .category2{
	background:url(../../img/user/spot/category2.gif) 0 2px no-repeat;
}
#input_area .category .categories .category3{
	background:url(../../img/user/spot/category3.gif) 0 2px no-repeat;
	border-bottom:none;
}
#input_area .category .selectedCategory{
	
}
#input_area .categoryselect{
	margin-left:40px;
}



/* map_area
------------------------------------------*/
#map_area{
	width:376px;
	background-color:#FFF;
	border:1px solid #a6a6a6;
	margin-top:5px;
}
#map_area #map{
	width:368px;
	height:380px;
	margin-left:4px;
	margin-bottom:4px;
}
#map_area h2{
	margin-left:10px;
	padding-top:3px;
	float:left;
}
#map_area #mapsearch{
	background-color:#f0f0f0;
	margin:0;
	padding-top:10px;
	padding-bottom:10px;
}
#map_area #mapsearch .search{
	float:right;
	margin-right:10px;
	margin-bottom:0;
}
#map_area #mapsearch .text{
	margin-left:15px;
	width:150px;
	vertical-align:top;
}
#map_area #mapsearch .btn{
	margin-left:8px;
}


/* spot_search
------------------------------------*/
#spot_search{
	float:left;
	background:url(../../img/user/tour/spot_bg.gif) no-repeat 0 bottom;
	width:294px;
	margin-left:5px;
}
#spot_search h2{
	margin-bottom:3px;
}
#spot_search .search_box{
	border:1px solid #d7d7d7;
	background:none;
	background-color:#FFF;
	margin-left:9px;
	margin-right:9px;
	margin-bottom:20px;
	padding:15px 10px;
	border-radius:0;
	width:auto;
	height:auto;
}
/**+html #spot_search .search_box{
	padding-bottom:0px;
}*/
#spot_search .search_box dl{
	clear:both;
	margin-bottom:10px;
}
#spot_search .search_box dt{
	float:left;
	padding-top:5px;
}
#spot_search .search_box dd{
	float:left;
	padding-left:10px;
}
#spot_search .search_box input.text{
	width:155px;
}
#spot_search .search_box .userspot{
	font-size:11px;
	vertical-align:middle;
	float:left;
	margin:0;
}
#spot_search .search_box .category{
	margin-bottom:15px;
}
#spot_search .search_box .userspot input{
	vertical-align:middle;
}
#spot_search .search_box .search-btn{
	float:right;
	margin-bottom:0;
	margin-right:5px;
	line-height:1;
	position:relative;
	top:0;
	left:0;
	width:auto;
}

#spot_search .categoryselect{
	top:-20px;
	margin-left:70px;
}

#spot_search .attention{
	margin-left:7px;
}

/* search_info */

#spot_search .search_info{
	border:none;
	font-size:10px;
}
#spot_search .search_info .total{
	margin-left:8px;
}
#spot_search .search_info .order{
	margin-right:5px;
}
#spot_search .search_info .pager .prev{
	margin-right:5px;
}
#spot_search .search_info .pager ul{
	margin-right:5px;
}

/* list_area */
#spot_search .list_area{
	height:450px;
	margin-bottom:10px;
	overflow:auto;
	position:relative;
}
.list_area .list_item,
.memo_item{
	/*width:259px;*/
	background-color:#FFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    clear: both;
    padding-bottom: 5px;
	padding-top:5px;
	margin-left:8px;
	margin-right:8px;
    margin-bottom: 5px;
    position: relative;
	font-size:11px;
}
.memo_item:hover{
	box-shadow:0 0 3px rgba(0,0,0,0.4);
	border:1px solid #81a9dd;
}
.list_area .list_item .pic{
	width:54px;
	height:54px;
	overflow:hidden;
	margin-left:5px;
	margin-bottom:0;
	float:left;
}
.list_area .list_item dl{
	margin-left:65px;
	margin-right:15px;
}
.list_area .list_item dt{
	font-weight:bold;
}
.list_area .list_item .standard_time{
	margin-bottom:5px;
}
.list_area .list_item .ctlbtn,
.memo_item .ctlbtn{
	position:absolute;
	top:0;
	right:0;
	height:100%;
	background-color:#ffa410;
	border-bottom-right-radius:2px;
	border-top-right-radius:2px;
	width:15px;
}
#spot_search .list_area .list_item .ctlbtn a,
.memo_item .ctlbtn a{
	position:absolute;
	top:50%;
	left:0;
	width:100%;
	text-align:center;
}
#spot_search .list_area .list_item .ctlbtn a img,
.memo_item .ctlbtn a img{
	position:relative;
	top:-3px;
}

.memo_item dt{
	float:left;
	padding-top:15px;
	margin-left:10px;
}
.memo_item dd{
	margin-left:50px;
	padding-top:12px;
	margin-bottom:10px;
}




/* tour_make
------------------------------------*/
#tour_make{
	float:right;
	width:308px;
	background:url(../../img/user/tour/tour_bg.gif) 0 bottom no-repeat;
}
#tour_make h2{
	margin-bottom:15px;
}
#tour_make .attention{
	margin-left:12px;
}
#tour_make .starttime,
#tour_make .timeline{
	margin-left:10px;
}
#tour_make .starttime{
	margin-bottom:0px;
}

#tour_make .list_area{
	height:450px;
	overflow:auto;
	position:relative;
}


#tour_make .tour_point{
	padding-top:25px;
	margin-bottom:12px;
	position:relative;
}
#tour_make .tour_point .time{
	background:url(../../img/tour/time.gif) no-repeat;
	line-height:1;
	padding-left:13px;
	color:#618DC7;
	font-weight:bold;
	font-size:11px;
	position:absolute;
	height:100%;
	top:10px;
	left:10px;
}
#tour_make .tour_point .time input{
	width:50px;
	height:13px;
	border-radius:2px;
	position:relative;
	top:-5px;
}
#tour_make .tour_point .time .line{
	background-color:#91b5e5;
	position:absolute;
	width:2px;
	height:98%;
	left:4px;
	top:12px;
}
#tour_make .tour_point:last-child .time .line{
	display:none;
}

#tour_make .tour_point .list_item,
#tour_make .tour_point .memo_item{
	margin-left:25px;
}
#tour_make .tour_point .list_item .staytime{
	text-align:left;
}
#tour_make .tour_point .staytime{
	text-align:center;
}
#tour_make .tour_point .memo_item dt{
	position:absolute;
	top:50%;
	padding:0;
}
#tour_make .tour_point .memo_item dt img{
	margin-top:-5px;
}
#tour_make .tour_point .memo_item dd{
	margin-right:30px;
	margin-bottom:0;
	padding-top:0;
	float:right;
	margin-left:0;
	padding-left:50px;
}
#tour_make .tour_point .memo_item textarea{
	width:100%;
	height:50px;
}

#tour_make .ctlbtn a{
	display:block;
	width:15px;
	text-align:center;
	line-height:1;
	position:relative;
}
#tour_make .ctlbtn a img{
	top:0;
}
#tour_make .ctlbtn .remove{
	position:absolute;
	top:5px;
}
#tour_make .ctlbtn .ctl{
	position:absolute;
	bottom:0px;
}
#tour_make .ctlbtn .ctl li{
	margin-bottom:5px;
}

#tour_make .totaltime{
	border:1px solid #d7d7d7;
	text-align:center;
	padding-top:3px;
	padding-bottom:3px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:20px;
}
#tour_make .totaltime span{
	margin-left:15px;
}
#tour_make .submit{
	text-align:center;
	margin-bottom:20px;
}


/* clearfix */
#input_area dl:after,
#input_area:after,
#map_area #mapsearch:after,
#spot_search .search_input:after,
#spot_search .list_area .list_item:after,
.memo_item:after,
#spot_search .search_box dl:after{
	content:".";
	height:0;
	clear:both;
	display:block;
	visibility:hidden;
	line-height:0;
	font-size:0;
}
#input_area dl,
#input_area,
#map_area #mapsearch,
#spot_search .search_input,
.memo_item,
#spot_search .search_box dl{
	zoom:1;
}


/* Add Kiyomizu */
#spot_search .time,
#spot_search .staytime,
#spot_search .ctlbtn .remove,
#spot_search .ctlbtn .ctl,
#spot_search .memo_item .edit {
	display: none;
}

#spot_search .active,
#tour_make .active {
	background-color: #000;
}


#tour_make .tool,
#tour_make .ctlbtn .add {
	display: none;
}

.pg_jqui_state_highlight,
.pg_jqui_state_hover {
	background-color: #efefef;
}

#spot_search .tour_point{
	min-width: 279px;
}
