@charset "utf-8";


/* ==================================================================

	■USEREDIT
	
=================================================================== */


.box{
	width:460px;
	text-align:left;
}
.box h1{
	margin-bottom:25px;
}
.box dl{
	clear:both;
	margin-bottom:10px;
}
#username_display{
}
#username_display dt,
#username dt{
	float:left;
}
#username_display dd{
	margin-left:173px;
	position:relative;
}
#username_display ul{
	z-index:2;
	position:relative;
}
#username_display ul li{
	float:left;
	width:127px;
}
#username_display .frame{
	background:url(../../img/user/top/display_frame.gif) no-repeat;
	width:127px;
	height:37px;
	position:absolute;
	top:-12px;
	z-index:1;
}
#username_display ul li input{
	vertical-align:top;
	padding:0;
	margin-top:0;
}

#username dt{
	padding-top:5px;
}


#username dd{
	/*margin-left:65px;*/
	float:left;
	padding-left:20px;
	width:300px;
}
#username input{
	font-size:14px;
	width:300px;
}

.box .submit{
	padding-top:10px;
	text-align:center;
}



/* clearfix */
.box dl:after{
	content:".";
	height:0;
	clear:both;
	display:block;
	visibility:hidden;
	line-height:0;
	font-size:0;
}

.box dl{
	zoom:1;
}