@charset "utf-8";


/* ==================================================================
	■各ブラウザのフォントサイズ調整用。
=================================================================== */
 
body{
	font-size:16px;
}

/* WINIE用 \*/
* html body{ font-size:100%; }
*:first-child+html body{ font-size:100%; }
/* */

/* ここで基本サイズ指定。大きさは下記表を参照 */
.site,
.contents,
.publication{ 
	font-size:75%	
}

/* ---------------------------------------------------------------------------------------
	小さめ：11px
	font-size:69%; 
	やや小：12px
	font-size:75%;
	標準：13px 
	font-size:82%; 
	大きめ：14px
	font-size:94%; 
   --------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------
    12px(75%)で使用する場合の%表
   ---------------------------------------------------------------------------------------
     8px   67%
     9px   75%
	 10px  83% 
	 11px  92%
	 12px 100%  
	 13px 108%
	 14px 117% 
	 15px 125%
	 16px 133%
	 18px 150%
	 20px 167%
	 22px 183%
	 24px 200%
	 
	 引用元：shortcut
	 http://www.s-cut.net/memo/archives/web/070523_fontSizeTable/
   --------------------------------------------------------------------------------------- */

table {
	font-size:inherit;
	font:100%;
}

select, input, textarea {
	font:99%;
}

li li,
li p,
li pre,
li dt,
li dd,
dd li,
dd p,
dd pre,
dd dt,
dd dd {
  font-size:100%;
}

