@charset "utf-8";


/* ==================================================================

	■印刷用のCSSの指定が必要な場合に使用。
	
=================================================================== */

/* =================================
   ■ 共通指定
================================== */

body{
	overflow-y:visible;
}

/* --------------------------------
   □ 強制改行
-------------------------------- */ 
/* firefox対策 */
html[xmlns]>/**/body hr.printfix {
	display:block;
	background:#fff;
	border:1px solid #fff;
	page-break-after:always;
}
	
html[xmlns]>/**/body #bottom:after{
	content:".";
	height:0;
	clear:both;
	display:block;
	visibility:hidden;
}

/* opera */
*+html:first-child body hr.printfix {
	display:none;
}
