@charset "utf-8";


/* ==================================================================

	■スタイルリセット

	-----------------------------------------------------------
	1.基本指定
		1body
		2text
		3link
		4image
	-----------------------------------------------------------	
	
	
=================================================================== */


/* =================================
   ■ 基本指定
================================== */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,p,blockquote,th,td{
	padding: 0px;
	margin: 0px;
	min-width:0;
	min-height:0;
}

/* --------------------------------
   □ body
-------------------------------- */
html {	
	height:100%;
}

body {
	font-family:  sans-serif;
} 
	
/* --------------------------------
   □ text
-------------------------------- */

strong,
em{	
	font-weight:bold;
}

em,
address,
cite{
	font-style: normal;
}

h1,h2,h3,h4,h5,h6{ 
	font-weight:bold;
	line-height:1.2;
}

h1 { font-size: 150%;}
h2 { font-size: 125%;}
h3 { font-size: 108%;}
h4 { font-size: 100%;}
h5 { font-size: 100%;}
h6 { font-size: 100%;}

acronym,abbr{cursor:help;}

sup{
	vertical-align:0;
	position:relative;
	top:-0.7em;  
	font-size: 9px;
	line-height: normal;
}

sub{
	vertical-align:0; 
	font-size: 9px;
	line-height: normal;
}

/* --------------------------------
   □ style
-------------------------------- */
table{
	border-collapse:collapse;
 }	

th,td{ text-align:left; }

input[type]{ 
	line-height:1; 
}

/* IE only \*/
* html input{ margin:0; }		
*:first-child + html input{ margin:0; }	
/* end */

input.text,
textarea {
	font-size:100%;
}


textarea, select, input {
	font-family : sans-serif;
}

hr {display:none;}

ul,ol  { list-style : none; }

fieldset {
	border: none;
}

/* --------------------------------
   □ link
-------------------------------- */
/* gecko対策 */
a[name]:hover{text-decoration:none !important;outline:0 !important;} 

/* --------------------------------
   □ image
-------------------------------- */
img{
	vertical-align			: top;
	border					: 0;
}

object,param{
	border:0;
	vertical-align:bottom;
} 

